@model AutoEscola.Models.Usuario
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    Model.Empresa = ViewBag.empresa;

    if (ViewBag.Message != null)
    {
        <h4>@ViewBag.Message</h4>
    }

    <fieldset>
        <legend>Usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pessoa.CPF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.CPF)
            @Html.ValidationMessageFor(model => model.Pessoa.CPF)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Senha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>
        
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
