@model AutoEscola.Models.Empresa
<h1>Dados da empresa</h1>
<div id="empresa">
    <div class="editor-label">
        @Html.LabelFor(model => model.CNPJ)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CNPJ)
        @Html.ValidationMessageFor(model => model.CNPJ)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.RazaoSocial)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.RazaoSocial)
        @Html.ValidationMessageFor(model => model.RazaoSocial)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.NomeFantasia)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.NomeFantasia)
        @Html.ValidationMessageFor(model => model.NomeFantasia)
    </div>
</div>
