@model AutoEscola.Models.Empresa
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Empresa</legend>
        <div id="empresa">
            <div class="editor-label">
                @Html.LabelFor(model => model.CNPJ)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CNPJ)
                @Html.ValidationMessageFor(model => model.CNPJ)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RazaoSocial)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RazaoSocial)
                @Html.ValidationMessageFor(model => model.RazaoSocial)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.NomeFantasia)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NomeFantasia)
                @Html.ValidationMessageFor(model => model.NomeFantasia)
            </div>
        </div>
        <div id="endereco">
            @{Html.RenderAction("Create", "Endereco", new { empresa = Model.Id });}
            <p>
                <input type="submit" value="Create" />
            </p>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
