@model AutoEscola.Models.Empresa
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Empresa</legend>
    <div class="display-label">
        CNPJ</div>
    <div class="display-field">@Model.CNPJ</div>
    <div class="display-label">
        RazaoSocial</div>
    <div class="display-field">@Model.RazaoSocial</div>
    <div class="display-label">
        NomeFantasia</div>
    <div class="display-field">@Model.NomeFantasia</div>
    <div class="display-label">
        Telefone</div>
    <div class="display-field">@Model.Telefone</div>
    <div class="display-label">
        Email</div>
    <div class="display-field">@Model.Email</div>
    <div class="display-label">
        Site</div>
    <div class="display-field">@Model.Site</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Criar novo Usuário", "../Usuario/Create", new { id = Model.Id })
    @Html.ActionLink("Back to List", "Index")
</p>
