@model IEnumerable<AutoEscola.Models.Empresa>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
        </th>
        <th>
            CNPJ
        </th>
        <th>
            RazaoSocial
        </th>
        <th>
            NomeFantasia
        </th>
        <th>
            Telefone
        </th>
        <th>
            Email
        </th>
        <th>
            Site
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { empresa = item }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                @item.CNPJ
            </td>
            <td>
                @item.RazaoSocial
            </td>
            <td>
                @item.NomeFantasia
            </td>
            <td>
                @item.Telefone
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Site
            </td>
        </tr>
    }
</table>
