@{
    Layout = null;
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Sistema de Controle de Auto Escola</h1>
    <div id = "Menu">
       @Html.ActionLink("Login","Login","Usuario")    
       @Html.ActionLink("Registre-Se","Create","Empresa")
       @Html.ActionLink("Entre Em Contato","Contato","FaleConosco")
    </div>
</body>
</html>
