@model AutoEscola.Models.Usuario
@{
    ViewBag.Title = "Criar conta de usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{

    if (ViewBag.Message != null)
    {
    <h4>@ViewBag.Message</h4>
    }

    <div class="inner-menu">
    </div>
    
    <header class="page-header header_blue">
        <hgroup class="content">
            <h2>
                Ative sua conta de usuário
                <br />
                para utilizar todos os recursos
                <br />
                disponíveis para você no Auto Escola Simples
            </h2>
        </hgroup>
    </header>
    
    <div class="content">
        <section class="box">
            @Html.ValidationSummary(true)
            <div class="editor-label">
                @Html.LabelFor(model => model.Pessoa.CPF)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Pessoa.CPF)
                @Html.ValidationMessageFor(model => model.Pessoa.CPF)
            </div>

            <div class="editor-label"> 
                @Html.LabelFor(model => model.Login)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Senha)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Senha)
                @Html.ValidationMessageFor(model => model.Senha)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SenhaConfirmacao)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SenhaConfirmacao)
                @Html.ValidationMessageFor(model => model.SenhaConfirmacao)
            </div>
            <br />
            <p>
                <input class="button green" type="submit" value="Criar sua conta agora" />
            </p>
        </section>
    <div class="box info" style="width: 400px">
        <h2>
            Área do aluno</h2>
        Aqui, você encontra um elo com seu Centro de Formação de Condutores. Ative
        agora mesmo sua conta, acesse a área do aluno e <b>acompanhe todos os processos referentes
        a sua habilitação</b>. Nesta área lhe será apresentado um <b>histórico conciso e de
        fácil entendimento</b> das ocorrências geradas a partir de processos entre
        o Departamento de Trânsito e o Centro de Formação de Condutores.
        <h2>
            Como acessar?</h2>
        Para acessar sua conta e acompanhar os processos referentes a sua habilitação, <b>você
        precisa estar cadastrado em um Centro de Formação de Condutores 
        </b>. Este por sua vez, deve enviar os dados de ocorrências do
        processo de sua habilitação ao Auto Escola Simples. A partir daí, você poderá cadastrar-se no site e acessar
        uma área específica na qual se econtra informações como data do provão, resultados
        de aprovação, agendamentos de aulas práticas etc.
    </div>

    </div>
}
