@model AutoEscola.Models.Endereco
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.Cidade)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Cidade)
        @Html.ValidationMessageFor(model => model.Cidade)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.UF)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UF)
        @Html.ValidationMessageFor(model => model.UF)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Logradouro)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Logradouro)
        @Html.ValidationMessageFor(model => model.Logradouro)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Cep)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Cep)
        @Html.ValidationMessageFor(model => model.Cep)
    </div>
}
