<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
    @RenderSection("css", required: false)
</head>
<body>
    <div id="HomeContent">
        <div id="header">
            <div id="contentHeader">
                <h1>
                    Auto escola
                </h1>
                <h2>
                    Sistema de gestão
                    <br />
                    para centro de
                    <br />
                    formação de
                    <br />
                    condutores
                </h2>
                <br />
                <br />
                <div class="column">
                    <h3>
                        Serviços
                    </h3>
                    <span>Mãos frias e úmidas, coração batendo mais forte, respiração acelerada, sobressalto,
                        angústia... Muitas pessoas tem medos - medo de avião, medo de assaltos, medo de
                        elevador... Um dos tipos mais comuns de medos é o MEDO DE DIRIGIR.</span>
                </div>
            </div>
            <div id="menu">
                <ul class="kwicks horizontal">
                    <li id="linkHome">@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li id="linkServicos">@Html.ActionLink("SERVIÇOS", "Login", "Usuario")</li>
                    <li id="linkCadatro">@Html.ActionLink("CADASTRE-SE", "Create", "Empresa")</li>
                    <li id="linkContato">@Html.ActionLink("CONTATO", "Contato", "FaleConosco")</li>
                    <li id="linkLogin">@Html.ActionLink("LOGIN", "Create", "Aluno")</li>
                </ul>
            </div>
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
            <div id="contentFooter">
                <div id="footerTwitter">
                    <a href="#"><span>Acesse nossa página
                        <br />
                        no twitter 
                        <br />
                        e nos siga</span></a>
                </div>
                <div id="footerFacebook">
                    <span>Acesse nossa página
                        <br />
                        no Facebook
                        <br />
                        e faça parte de nossa rede social
                    </span>
                </div>
            </div>
        </div>
    </div>
    @RenderPage("DefaultScripts.cshtml")
    @RenderSection("scripts", required: false)
    <script src="../../Scripts/kwicks-1.5.1.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.kwicks').kwicks({
                max: 346,
                spacing: 0,
                sticky: true,
                defaultKwick: 0,
                event: 'mouseover'
            });
        });
    </script>
</body>
</html>
