<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()
    @RenderPage("DefaultScripts.cshtml")
    @RenderSection("scripts", required: false)
    </body>
</html>
