<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("css", required: false)
</head>
<body>
    <h1>
    teste
    </h1>
    @RenderBody()
    @RenderPage("DefaultScripts.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>
