<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/info-box.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/page-header.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/botoes.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/formulario.css")" rel="stylesheet" type="text/css" />
    @RenderSection("css", required: false)
</head>
<body>
    <div class="menu logo-marca-site">
    </div>
    @RenderBody()
    @RenderPage("DefaultScripts.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
