@model AutoEscola.Models.Aluno

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Aluno</legend>

        @Html.Partial("~/Views/_ViewPessoa.cshtml", Model.Pessoa)
        @Html.Partial("~/Views/_ViewEndereco.cshtml", Model.Pessoa.Endereco)
        @Html.Partial("~/Views/_ViewContato.cshtml", Model.Pessoa.Contato)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

