@model AutoEscola.Models.Aluno
@{
    ViewBag.Title = "Details";
    <link href="@Url.Content("~/Content/formulario.css")" rel="stylesheet" type="text/css" />
}

<fieldset>
    <legend>Seus dados</legend>
    <div class="display-label">
        Nome</div>
    <div class="display-field">@Model.Pessoa.Nome</div>
    <div class="display-label">
        RegistroGeral</div>
    <div class="display-field">@Model.RegistroGeral</div>
    <div class="display-label">
        CPF</div>
    <div class="display-field">@Model.Pessoa.CPF</div>
    <br />
    @Html.Partial("~/Views/Ocorrencia/Index.cshtml", Model.Ocorrencias)
</fieldset>
